/* CstrSideNavbar.css */
.sidenav {
  position: fixed;
  top: 80px; /* Adjust based on your top navbar height */
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #1d5469;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  }
  
  .sidenav-heading {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  
  .nav-list {
    font-size: 1.2rem;
    list-style: none;
    padding: 0;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: block;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
  